.hello {
  text-align: left;
  color: blue;
  font-family: cursive;
}

.header {
  text-align:center;
  color:red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
